.board-task {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: var(--white-background);
  border-radius: var(--main-radius);

  &__title {
    font-size: var(--fz-large);
  }

  &__btns {
    align-self: end;
  }

  &__edit-btn,
  &__delete-btn {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__edit-btn {
    color: var(--edit-btn-color);
  }

  &__delete-btn {
    color: var(--delete-btn-color);
    margin-left: 10px;
  }
}
