.board-task {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #fff; // TODO: to css variable
  border-radius: 5px; // TODO: to css variable

  &__title {
    font-size: 15px; // TODO: to css variable
  }

  &__btns {
    align-self: end;
  }

  &__edit-btn,
  &__delete-btn {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__edit-btn {
    color: #ffbf33; // TODO: to css variable
  }

  &__delete-btn {
    color: #ff2e2e; // TODO: to css variable
    margin-left: 10px;
  }
}
