<div #boardDiv (dragover)="$event.preventDefault()" class="board">
  <div *ngFor="let board of boards; let boardIndex = index" class="board-col">
    <span class="board-title">{{ board.title }}</span>
    <div class="board-task__wrapper">
      <div
        *ngIf="!board.tasks.length"
        class="pseudo-task"
        draggable="false"
      ></div>
      <ng-container *ngFor="let task of board.tasks; let taskIndex = index">
        <div (dragover)="$event.preventDefault()" *ngIf="expectedTasks[boardIndex][taskIndex].up" class="expected-task"
             draggable="false"></div>
        <app-task
          (drop)="$event.preventDefault()"
          [boardIndex]="boardIndex"
          [taskIndex]="taskIndex"
          [task]="task"
          class="board-task__app"
          draggable="true"
        >
        </app-task>
        <div (dragover)="$event.preventDefault()" *ngIf="expectedTasks[boardIndex][taskIndex].down"
             class="expected-task" draggable="false"></div>
      </ng-container>
    </div>
    <button (click)="addTask(boardIndex)" class="board-task__add">
      Add task
    </button>
  </div>
</div>
