.board {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 30px;
  box-sizing: border-box;

  &-col {
    display: flex;
    flex-direction: column;
    background: var(--background-gray-light);
    box-sizing: border-box;
    width: 33%;
    margin: 0 7px;
    padding: 15px;
    border-radius: var(--main-radius);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-title {
    font-weight: 700;
    margin-bottom: 7px;
  }

  &-task {
    &__app {
      border-top: var(--border-instead-margin);
      border-bottom: var(--border-instead-margin);
    }

    &__add {
      margin-top: 15px;
      border: 0;
      background: var(--green-btn-background-50);
      border-radius: var(--main-radius);
      padding: 10px;
      font-weight: 700;
      color: var(--green-btn-color);

      &:hover {
        background: var(--green-btn-background-80);
      }

      &:active {
        background: var(--green-btn-background);
        color: var(--white-color);
      }
    }
  }

  &-task__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.pseudo-task {
  margin-top: 15px;
  height: 40px;
  width: 100%;
}

.expected-task {
  height: 40px;
  border-top: var(--border-instead-margin);
  border-bottom: var(--border-instead-margin);
  background: #fff;
  opacity: 0.4;
}
