.modal__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-black-50);
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  background: var(--background-gray);
  box-sizing: border-box;
  padding: 30px;
  border-radius: var(--main-radius);

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: .8;
    }
  }

  &__header {
    border-bottom: var(--gray-border-separator);
  }

  &__title {
    margin: 0;
    padding-bottom: 15px;
  }

  &__body {
    padding-top: 15px;

    &__input {
      width: 100%;
      height: 32px;
      font-size: 18px;
      padding-left: 10px;
      box-sizing: border-box;
      border: var(--gray-border-input);
      border-radius: var(--main-radius);
      outline: none;
    }
  }

  &__footer {
    padding-top: 30px;
    align-self: end;

    &__close, &__action {
      padding: 10px 15px;
      border-radius: var(--main-radius);
      font-weight: 700;
      font-size: var(--fz-medium);
      border: 0;
    }

    &__close {
      background: var(--red-btn-background-50);
      color: var(--red-btn-color);

      &:hover {
        background: var(--red-btn-background-80);
      }

      &:active {
        background: var(--red-btn-background);
        color: var(--white);
      }
    }

    &__action {
      background: var(--green-btn-background);
      color: var(--green-btn-color);
      margin-left: 15px;

      &:hover {
        background: var(--green-btn-background-80);
      }

      &:active {
        background: var(--green-btn-background);
        color: var(--white-color);
      }
    }
  }
}
