@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
  position: relative;
}


:root {
  --red-background: rgb(255, 46, 46);
  --red-background-50: rgba(255, 46, 46, 0.5);
  --red-background-80: rgba(255, 46 46, 0.8);
}
